<h1>New Lp event</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.lp_events_lp_event_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.lp_events_lp_event_path(@conn, :index) %></span>
