
nav {
  height: 30px;
  line-height: 30px;
  background-color: lightblue;
}

nav .brand-logo { 
  font-size: 1.6rem;
  color: brown;
  margin-left: 3%;
}

.customContainer{
  margin-left: 2%;
  margin-right: 2%;
}

.split {
  position: fixed;
  z-index: 1;
  overflow-x: scroll;
}

.left {
  left: 0;
  background-color: rgb(220, 242, 250);
  height: 100%;
  width: 23%;
  margin-left: 1%;
  padding-left: 1%;
  padding-top: 10px;
  margin-right: 1%;
}

.right {
  right: 0;
  /* background-color: red; */
  width: 72%;
  margin-left: 1%;
  margin-right: 2%;
}

input {
  width: 30%;
  size: 30%;
}

.toRight {
  float: right;
  margin-right: 2%;
}